node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
execution_logs.txt
login_logout_log.txt
session.txt
sent_tokens.txt
tracked_tokens.json
gmgn_last_start.txt
joined_bots.txt
last_token.txt
Buy_Token.txt
Sell_Token.txt
tokenfilter.txt
configs/
test*
TEST*
caca/
